# Numpy

In [2]:
import numpy as np

In [3]:
np1 = np.array([1,2,3,4])

In [4]:
np1

array([1, 2, 3, 4])

In [5]:
type(np1)

numpy.ndarray

In [6]:
Mat1 = np.array([[1,2],[3,4]])

In [7]:
Mat1

array([[1, 2],
       [3, 4]])

In [8]:
np1.shape

(4,)

In [10]:
Mat1.shape

(2, 2)

In [13]:
Mat1.dtype

dtype('int32')

In [15]:
Mat1[0,0] = 5

In [16]:
Mat1[0,0] = "fsdfsd"

ValueError: invalid literal for int() with base 10: 'fsdfsd'

In [17]:
Mat2 = np.arange(0,10,1)

In [18]:
Mat2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
Mat3 = np.linspace(0,10,20)

In [20]:
Mat3

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [22]:
Mat4 = np.random.rand(5,5)

In [23]:
Mat4

array([[0.69306669, 0.92063187, 0.07826826, 0.37662215, 0.28543934],
       [0.99403271, 0.73559787, 0.75680319, 0.6283858 , 0.48341824],
       [0.58171691, 0.01498986, 0.17687384, 0.88870523, 0.89155077],
       [0.30691576, 0.20859183, 0.96139787, 0.90055046, 0.79000765],
       [0.54357549, 0.49660668, 0.99589815, 0.24988719, 0.43333462]])

In [24]:
Mat5 = np.random.randn(5,5)

In [26]:
Mat5

array([[ 1.10101950e+00,  3.35109357e-01, -8.51713033e-01,
        -1.91855658e+00,  1.14898457e+00],
       [-7.55725303e-01,  8.63820225e-01,  8.85332502e-01,
         1.08907768e+00,  7.65475368e-01],
       [-5.65214104e-01,  8.81218134e-04,  1.17365622e+00,
         1.62137973e-01, -2.80601966e+00],
       [-5.45801811e-01,  4.72658431e-01,  3.10257005e-01,
         2.59396832e+00,  3.75888170e-01],
       [ 6.22330680e-01,  7.92813580e-01,  1.50008206e+00,
        -6.15483570e-01,  2.02377130e+00]])

np.zeros,
np.diag,
np.ones

In [27]:
Mat5[0,0]

1.1010195044730209

In [29]:
Mat5[0,1]

0.3351093569583541

In [30]:
Mat5[0:3,:]

array([[ 1.10101950e+00,  3.35109357e-01, -8.51713033e-01,
        -1.91855658e+00,  1.14898457e+00],
       [-7.55725303e-01,  8.63820225e-01,  8.85332502e-01,
         1.08907768e+00,  7.65475368e-01],
       [-5.65214104e-01,  8.81218134e-04,  1.17365622e+00,
         1.62137973e-01, -2.80601966e+00]])

# Pandas

In [34]:
import pandas as pd

In [36]:
data1 = pd.read_csv('D:/udemy/jupyter/Customer.csv',header=0)

In [38]:
data1.head()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [40]:
data1.head(10)

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
5,IM-15070,Irene Maddox,Consumer,66,United States,Seattle,Washington,98103,West
6,HP-14815,Harold Pawlan,Home Office,20,United States,Fort Worth,Texas,76106,Central
7,PK-19075,Pete Kriz,Consumer,46,United States,Madison,Wisconsin,53711,Central
8,AG-10270,Alejandro Grove,Consumer,18,United States,West Jordan,Utah,84084,West
9,ZD-21925,Zuschuss Donatelli,Consumer,66,United States,San Francisco,California,94109,West

In [41]:
data2 = pd.read_csv('D:/udemy/jupyter/Customer.csv',header=0,index_col = 0)

In [43]:
data2.head()

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [44]:
data1.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000

In [45]:
data1.iloc[0]

Customer ID           CG-12520
Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: 0, dtype: object

In [48]:
data2

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...
CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East
RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central
SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central
RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East
SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East

In [49]:
data2.loc["CG-12520"]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object

In [50]:
data2.iloc[0]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object

In [52]:
data2.iloc[0:5]

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [53]:
data2.iloc[0:5:2]

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

# Seaborn (Data Visualisation)
mostly used is matplotlib but here it is more suitable

In [55]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'